.header{
    background-color:red;
    color:white;
}

.Empcard{
    margin-top: 10px;
    margin-right: 10px;
}

.namecard{
    background-color:blue;
    color:white;
}

.numID{
    background-color:lightblue;
}